footer {
    margin-top: 150px;
    padding-bottom: 50px;
    
    .margin_wrapper {
        border-top: 1px solid lightgrey;
        display: flex;

        .left {
            .logo_footer {
                padding-top: 60px;
    
                img {
                    width: 115px;
                    height: auto;
                }
            }
    
            p {
                padding-top: 15px;
                color: $text_grigio-chiaro;
            }
    
            .secondary {
                padding-top: 40px;
                color: $text_grigio-chiaro;
            }
        }


        .right {
            padding-left: 250px;
            display: flex;

           .list {
            padding-top: 60px;
            margin-right: 300px;

                ul {
                    list-style-type: none;

                    li {
                        padding-top: 25px;
                        color: $text_grigio-chiaro;
                    }
                }
           }
        }

    }
    
}