// @mixin style-button {
//     padding: 4px 3px;
//     color: white;
//     background-color: #2e4790;
//     border-radius: 8px;
//     border-color: none;
//     border-color: #2e4790;
// }

// @mixin width-image {
//     width: auto;
//     height: 100px;
// }

@mixin style-button {
    padding: 12px 21px;
    background-color: $background_celeste;
    color: $text_bianco;
    border: $border_bianco;
    border-radius: 5px;
}