
//BACKGROUND PALETTE
$background_bianco: #FFFFFF;
$background_celestino: #F2F7FF;
$background_celeste: #377DFF;
$background_blu-chiaro: #1E1E1E;
$background_grigio-chiaro: #00000026;
$black: rgb(0, 0, 0);
$background_verde-acqua: #97e2d1;

//TEXT PALETTE
$text_bianco: #FFFFFF;
$text_verde-acqua: #6CDAC1;
$text_arancio: #FF796D;
$text_grigio-chiaro: #8E989F;
$text_celeste-chiaro: #377DFF;
$text_grigio-scuro: #495057;

//BORDER PALETTE
$border_bianco: #FFFFFF;
$border_celestino: #EFF1FE;
$border_celeste-chiaro: #377DFF;
$border_nero: #1E1E1E;
$border_grigio-uno: #00000008;
$border_grigio-due: #0000000D;
$border_grigio-tre: #00000014;


//FONT SIZE H2
$size_h2: 36px;